### symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
### symfony/phpunit-bridge ###
/phpunit.xml.dist
/.phpunit.result.cache
### symfony/asset-mapper ###
/assets/vendor/